default/CHANGEMSISDN.json
{
  "externalControllerServices" : {
    "7b4c9a98-9444-3ca7-a4a7-7da9e3ac8828" : {
      "identifier" : "7b4c9a98-9444-3ca7-a4a7-7da9e3ac8828",
      "name" : "Kafka3ConnectionService"
    },
    "b04a188f-dfb8-390f-8573-d178a37c5ddf" : {
      "identifier" : "b04a188f-dfb8-390f-8573-d178a37c5ddf",
      "name" : "DBCPConnectionPool_RIGHTEL"
    }
  },
  "flow" : {
    "createdTimestamp" : 1773595250649,
    "description" : "",
    "identifier" : "CHANGEMSISDN",
    "lastModifiedTimestamp" : 1773595250649,
    "name" : "CHANGE_MSISDN",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "87ae3c59-58a1-30e9-ab07-242ab38a5525",
        "name" : "PutFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ba7b21ad-83ce-3e60-a048-ae9321f2649d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "350dba6d-8ffc-3019-96e1-7b87ad0076a9",
        "name" : "ConsumeKafka",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e1a9e058-d623-3db5-9a18-26e614a99acd",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6102eff6-0b01-3c9a-b258-7c0d03297c4e",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4314efe2-5807-379f-87a4-beaefc082eec",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3f270378-96dd-3259-b051-6910d2b9555b",
        "name" : "PutFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "043acf2b-1e05-3ee7-944e-0e03eee91084",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "05f5a11d-4cbe-3699-b087-2bf4d9cbdd59",
        "name" : "ExecuteSQL",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4314efe2-5807-379f-87a4-beaefc082eec",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "71599477-112a-3c41-a98a-6b0f42825b04",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "25cbf2bd-a992-3bf9-8f66-3949c9678357",
        "name" : "GetFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "id" : "aad85437-5991-3057-9c10-5c3d4717f5f5",
        "name" : "input",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4b6fde2c-1527-38a6-8b18-05ad61700a80",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e1a9e058-d623-3db5-9a18-26e614a99acd",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "6451a8f9-7781-3555-a941-2670affdd627",
        "name" : "PutFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8a643d35-6630-3a89-ad48-439a4ebff811",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4314efe2-5807-379f-87a4-beaefc082eec",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "05f5a11d-4cbe-3699-b087-2bf4d9cbdd59",
        "name" : "ExecuteSQL",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e587722a-5d67-3d26-9482-1fa15522b571",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "comments" : "",
        "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "id" : "5267e919-0198-3b4d-bd9a-35f43a7336fd",
        "name" : "output",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4314efe2-5807-379f-87a4-beaefc082eec",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f24156d9-2e1b-39ea-a9dc-fad68b081455",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "350dba6d-8ffc-3019-96e1-7b87ad0076a9",
        "name" : "ConsumeKafka",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4074a265-0a0e-32f1-8a7b-fc1cd961909d",
        "name" : "LogMessage",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b209c23c-f5a6-3d84-9f30-3b98c5ac1a69",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "05f5a11d-4cbe-3699-b087-2bf4d9cbdd59",
        "name" : "ExecuteSQL",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4314efe2-5807-379f-87a4-beaefc082eec",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f0e09827-d8a3-3834-89ab-33e09595b8a5",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f30bcc77-2a76-301b-b432-b425a2e4aa63",
        "name" : "GetFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4314efe2-5807-379f-87a4-beaefc082eec",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "45d10982-758b-3a40-97b3-00da7c5473a9",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3c81e6ee-8a17-3bee-a946-4cb02cade2b4",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2a15026d-c89f-3997-aab0-b0b44d39429e",
      "name" : "DBCPConnectionPool_99",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "com.mysql.cj.jdbc.Driver",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "jdbc:mysql://10.0.0.99:3306/TEST?allowLoadLocalInfile=true",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "hauser",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "/data/NIFI/mysql-connector-java-8.0.30.jar",
        "dbcp-max-idle-conns" : "8"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "URL", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "015ef4a2-fe03-38bc-a25b-df21452eddef",
      "name" : "CSVRecordSetWriter_M1_TERMINATE_SERVICE",
      "properties" : {
        "CSV Format" : "custom",
        "Include Header Line" : "false",
        "Escape Character" : "\\",
        "Trim Fields" : "true",
        "schema-access-strategy" : "schema-text-property",
        "csvutils-character-set" : "UTF-8",
        "schema-text" : "{\n\"type\":\"record\",\n\"namespace\":\"NiFi\",\n\"name\":\"OPT_OUT_FEED\",\n\"fields\":[\n{ \"name\": \"MSISDN\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"CUSTOMER_STATUS\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"DEACTIVATED_TIME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"STATUS_UPDATED_TIME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SERVICE_SEQ_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"}\n]}",
        "csv-writer" : "commons-csv",
        "Quote Character" : "\"",
        "Value Separator" : ",",
        "Record Separator" : "\\n",
        "Schema Write Strategy" : "no-schema",
        "schema-name" : "${schema.name}",
        "Quote Mode" : "MINIMAL",
        "Include Trailing Delimiter" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "CSV Format" : {
          "displayName" : "CSV Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Format",
          "sensitive" : false
        },
        "Include Header Line" : {
          "displayName" : "Include Header Line",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Header Line",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Escape Character" : {
          "displayName" : "Escape Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Escape Character",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Null String" : {
          "displayName" : "Null String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null String",
          "sensitive" : false
        },
        "Trim Fields" : {
          "displayName" : "Trim Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Fields",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Comment Marker" : {
          "displayName" : "Comment Marker",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Comment Marker",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "csvutils-character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-character-set",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "csv-writer" : {
          "displayName" : "CSV Writer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csv-writer",
          "sensitive" : false
        },
        "Quote Character" : {
          "displayName" : "Quote Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Character",
          "sensitive" : false
        },
        "Value Separator" : {
          "displayName" : "Value Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value Separator",
          "sensitive" : false
        },
        "Record Separator" : {
          "displayName" : "Record Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Separator",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "Quote Mode" : {
          "displayName" : "Quote Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Mode",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        },
        "Include Trailing Delimiter" : {
          "displayName" : "Include Trailing Delimiter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Trailing Delimiter",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.csv.CSVRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fead06fe-1450-3ff5-93e6-7931be698a13",
      "name" : "CSVReader_Putdatabaserecord",
      "properties" : {
        "ignore-csv-header" : "false",
        "Trim double quote" : "true",
        "CSV Format" : "custom",
        "Quote Character" : "\"",
        "csvutils-allow-duplicate-header-names" : "true",
        "Value Separator" : ",",
        "Record Separator" : "\\n",
        "Escape Character" : "\\",
        "Skip Header Line" : "false",
        "Trim Fields" : "true",
        "schema-name" : "${schema.name}",
        "csv-reader-csv-parser" : "commons-csv",
        "schema-access-strategy" : "schema-text-property",
        "csvutils-character-set" : "UTF-8",
        "schema-text" : "{\n\"type\":\"record\",\n\"namespace\":\"NiFi\",\n\"name\":\"OPT_OUT_FEED\",\n\"fields\":[\n{ \"name\": \"MSISDN\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"CUSTOMER_STATUS\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"}\n]}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "ignore-csv-header" : {
          "displayName" : "Ignore CSV Header Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ignore-csv-header",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Trim double quote" : {
          "displayName" : "Trim double quote",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim double quote",
          "sensitive" : false
        },
        "CSV Format" : {
          "displayName" : "CSV Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Format",
          "sensitive" : false
        },
        "Quote Character" : {
          "displayName" : "Quote Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Character",
          "sensitive" : false
        },
        "csvutils-allow-duplicate-header-names" : {
          "displayName" : "Allow Duplicate Header Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-allow-duplicate-header-names",
          "sensitive" : false
        },
        "Value Separator" : {
          "displayName" : "Value Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value Separator",
          "sensitive" : false
        },
        "Record Separator" : {
          "displayName" : "Record Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Separator",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Escape Character" : {
          "displayName" : "Escape Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Escape Character",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Null String" : {
          "displayName" : "Null String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null String",
          "sensitive" : false
        },
        "Skip Header Line" : {
          "displayName" : "Treat First Line as Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Skip Header Line",
          "sensitive" : false
        },
        "Trim Fields" : {
          "displayName" : "Trim Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Fields",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "csv-reader-csv-parser" : {
          "displayName" : "CSV Parser",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csv-reader-csv-parser",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Comment Marker" : {
          "displayName" : "Comment Marker",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Comment Marker",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "csvutils-character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-character-set",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.csv.CSVReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3eb82d6c-5067-33db-9a4e-f97920e30cc9",
      "name" : "CSVReader_M1_TERMINATE_SERVICE",
      "properties" : {
        "ignore-csv-header" : "false",
        "Trim double quote" : "true",
        "CSV Format" : "custom",
        "Quote Character" : "\"",
        "csvutils-allow-duplicate-header-names" : "true",
        "Value Separator" : "|",
        "Record Separator" : "\\n",
        "Escape Character" : "\\",
        "Skip Header Line" : "false",
        "Trim Fields" : "true",
        "schema-name" : "${schema.name}",
        "csv-reader-csv-parser" : "commons-csv",
        "schema-access-strategy" : "schema-text-property",
        "csvutils-character-set" : "UTF-8",
        "schema-text" : "{\n\"type\":\"record\",\n\"namespace\":\"NiFi\",\n\"name\":\"OPT_OUT_FEED\",\n\"fields\":[\n{ \"name\": \"GENERATED_BY\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"EDR_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"EDR_LEVEL\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"EDR_TIMESTAMP\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"REQUEST_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"REQUEST_TIMESTAMP\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ORDER_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ORDER_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ORDER_STATUS\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SUB_ORDER_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SALES_CHANNEL\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"USER_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"USER_NAME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"PROFILE_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ACCOUNT_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SERVICE_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SERVICE_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"CONNECTION_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"CUSTOMER_NAME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"BASE_PLAN_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"BASE_PLAN_NAME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ADDON_PLAN_IDS\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ADDON_PLAN_NAMES\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"AMOUNT_PAID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"PROFILE_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SUBSCRIBER_CATEGORY\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SUBSCRIBER_SUB_CATEGORY\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"DEPOSIT_AMOUNT\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SERVICE_SEQ_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ORDER_COMPLETION_DATE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"FAILED_STAGE_NAME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ERROR_CODE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ERROR_MESSAGE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"OLD_BASE_PLAN_NAME\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SFC_SPECIFIC_FIELD\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SA_FORM_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ICCID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"NATIONALITY\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"EMAIL_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"DOB\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"LANGUAGE_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"REFERRAL_CODE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"CUSTOMER_STATUS\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"LOYALTY_POINT_REDEMPTION\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"SIM_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"RETAILER_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"STORE_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"PORT_IN_FLAG\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ESIM\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ENTITY_ID\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"TOS_TYPE\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"},\n{ \"name\": \"ADDON_PLAN_AMOUNT\", \"type\": [\"string\",\"null\"] ,\"default\":\"\"}\n]}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "ignore-csv-header" : {
          "displayName" : "Ignore CSV Header Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ignore-csv-header",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Trim double quote" : {
          "displayName" : "Trim double quote",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim double quote",
          "sensitive" : false
        },
        "CSV Format" : {
          "displayName" : "CSV Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Format",
          "sensitive" : false
        },
        "Quote Character" : {
          "displayName" : "Quote Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Character",
          "sensitive" : false
        },
        "csvutils-allow-duplicate-header-names" : {
          "displayName" : "Allow Duplicate Header Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-allow-duplicate-header-names",
          "sensitive" : false
        },
        "Value Separator" : {
          "displayName" : "Value Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value Separator",
          "sensitive" : false
        },
        "Record Separator" : {
          "displayName" : "Record Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Separator",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Escape Character" : {
          "displayName" : "Escape Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Escape Character",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Null String" : {
          "displayName" : "Null String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null String",
          "sensitive" : false
        },
        "Skip Header Line" : {
          "displayName" : "Treat First Line as Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Skip Header Line",
          "sensitive" : false
        },
        "Trim Fields" : {
          "displayName" : "Trim Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Fields",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "csv-reader-csv-parser" : {
          "displayName" : "CSV Parser",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csv-reader-csv-parser",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Comment Marker" : {
          "displayName" : "Comment Marker",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Comment Marker",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "csvutils-character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-character-set",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.csv.CSVReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "eabad984-0c4e-3e16-ba1d-d91236c8c379",
      "name" : "DBCPConnectionPool",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "com.singlestore.jdbc.Driver",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "15",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "jdbc:singlestore://172.24.10.28:4406/Airtel_RE_DATA?allowLocalInfile=true&amp;zeroDateTimeBehavior=convertToNull",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "cvmuser",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "/data/NIFI_1/singlestore-jdbc-client-1.1.4.jar",
        "dbcp-max-idle-conns" : "15"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "URL", "DIRECTORY" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "7b4c9a98-9444-3ca7-a4a7-7da9e3ac8828" : {
        "identifier" : "7b4c9a98-9444-3ca7-a4a7-7da9e3ac8828",
        "name" : "Kafka3ConnectionService"
      },
      "b04a188f-dfb8-390f-8573-d178a37c5ddf" : {
        "identifier" : "b04a188f-dfb8-390f-8573-d178a37c5ddf",
        "name" : "DBCPConnectionPool_RIGHTEL"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "logFileSuffix" : "",
    "maxConcurrentTasks" : 1,
    "name" : "CHANGE_MSISDN",
    "outputPorts" : [ ],
    "parameterContextName" : "VARIABLES",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "9c6fe116-95fe-3c99-9d14-5006a252160d",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "b7f8ce4d-a5d3-3296-8e56-d316248c44e1",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "aad85437-5991-3057-9c10-5c3d4717f5f5",
          "name" : "input",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 6
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "7b76d604-52db-32ef-8be1-c6b1ca3b7909",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "561b1f54-2f08-373e-bedf-8c33da7dd31d",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "cd36c8c7-04a1-3bc3-ad06-b2c23dcbbebb",
          "name" : "ExecuteSQL",
          "type" : "PROCESSOR"
        },
        "zIndex" : 5
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 100,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "a1ed28b6-8f2d-3249-b84e-0789d6d67478",
          "name" : "FetchFile",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "d65c07be-05f3-3394-bf67-11879a2aeadf",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "COUNT" ],
        "source" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "714ac61f-7380-305d-b12e-2e419bee3812",
          "name" : "RouteOnAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "1285e20b-b61e-33f0-abd1-a1f1e6a05ba0",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "9465dfd7-b23d-3a4b-8456-7744fbb1f777",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure", "permission.denied", "not.found" ],
        "source" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "e458f606-80a7-3134-b9d7-655c5f036782",
          "name" : "FetchFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 100,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "5267e919-0198-3b4d-bd9a-35f43a7336fd",
          "name" : "output",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "32d1a16c-a46b-3c4b-bdbc-ffeba5480bf0",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "a1ed28b6-8f2d-3249-b84e-0789d6d67478",
          "name" : "FetchFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 100,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "b3eddca2-4940-3ea2-9fe0-6ab09a0f66ce",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "9483178f-2473-3e49-bc32-010c4f9f85db",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "e458f606-80a7-3134-b9d7-655c5f036782",
          "name" : "FetchFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "cd36c8c7-04a1-3bc3-ad06-b2c23dcbbebb",
          "name" : "ExecuteSQL",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "8ee0dfa8-5d68-3aee-a307-a56c66764c73",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "9c6fe116-95fe-3c99-9d14-5006a252160d",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 3
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "59148eff-eba7-3b8f-a8bd-b7c60cc35eb9",
          "name" : "LogMessage",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "0c7711c0-a1b6-348b-9604-170349c0b406",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "b3eddca2-4940-3ea2-9fe0-6ab09a0f66ce",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "43adaa60-abf9-3e07-928e-7628f33d779e",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "86255f42-dba7-3828-822e-508f8497d235",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "9c6fe116-95fe-3c99-9d14-5006a252160d",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "7fa4da9f-b415-3b54-8875-df9371c76d7a",
          "name" : "PutFile",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "977c86c1-7afb-360b-b384-a9dd7b50c30f",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "a1ed28b6-8f2d-3249-b84e-0789d6d67478",
          "name" : "FetchFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "714ac61f-7380-305d-b12e-2e419bee3812",
          "name" : "RouteOnAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "f18c47ce-a019-3cfa-8546-03e904a6997f",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "cd36c8c7-04a1-3bc3-ad06-b2c23dcbbebb",
          "name" : "ExecuteSQL",
          "type" : "PROCESSOR"
        },
        "zIndex" : 4
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 100,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "e458f606-80a7-3134-b9d7-655c5f036782",
          "name" : "FetchFile",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "42f2a467-553e-3166-8407-92ead05f0834",
        "labelIndex" : 1,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "COUNT_0" ],
        "source" : {
          "comments" : "",
          "groupId" : "270aa675-caeb-3783-bbf3-ed0db801c615",
          "id" : "714ac61f-7380-305d-b12e-2e419bee3812",
          "name" : "RouteOnAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 0
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "comments" : "",
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "aad85437-5991-3057-9c10-5c3d4717f5f5",
        "name" : "input",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 1848.0,
          "y" : 704.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "RETRY_TEMPLATE",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "comments" : "",
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "5267e919-0198-3b4d-bd9a-35f43a7336fd",
        "name" : "output",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 1696.0,
          "y" : 1376.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "VARIABLES",
      "position" : {
        "x" : 32.0,
        "y" : 304.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "success", "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "7b76d604-52db-32ef-8be1-c6b1ca3b7909",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2672.0,
          "y" : 848.0
        },
        "properties" : {
          "Create Missing Directories" : "true",
          "Directory" : "#{ERROR}/CHANGE_MSISDN/EXECUTE_SQL_1/${now():format('yyyy-MM-dd')}/${now():format('HH')}",
          "Conflict Resolution Strategy" : "fail"
        },
        "propertyDescriptors" : {
          "Group" : {
            "displayName" : "Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Group",
            "sensitive" : false
          },
          "Owner" : {
            "displayName" : "Owner",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Owner",
            "sensitive" : false
          },
          "Create Missing Directories" : {
            "displayName" : "Create Missing Directories",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Create Missing Directories",
            "sensitive" : false
          },
          "Permissions" : {
            "displayName" : "Permissions",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permissions",
            "sensitive" : false
          },
          "Maximum File Count" : {
            "displayName" : "Maximum File Count",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum File Count",
            "sensitive" : false
          },
          "Last Modified Time" : {
            "displayName" : "Last Modified Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Last Modified Time",
            "sensitive" : false
          },
          "Directory" : {
            "displayName" : "Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Directory",
            "sensitive" : false
          },
          "Conflict Resolution Strategy" : {
            "displayName" : "Conflict Resolution Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Conflict Resolution Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 0,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success", "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "1285e20b-b61e-33f0-abd1-a1f1e6a05ba0",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 840.0,
          "y" : 1272.0
        },
        "properties" : {
          "Create Missing Directories" : "true",
          "Directory" : "#{ERROR}/CHANGE_MSISDN/FETCH_FILE_2/${now():format('yyyy-MM-dd')}/${now():format('HH')}",
          "Conflict Resolution Strategy" : "fail"
        },
        "propertyDescriptors" : {
          "Group" : {
            "displayName" : "Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Group",
            "sensitive" : false
          },
          "Owner" : {
            "displayName" : "Owner",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Owner",
            "sensitive" : false
          },
          "Create Missing Directories" : {
            "displayName" : "Create Missing Directories",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Create Missing Directories",
            "sensitive" : false
          },
          "Permissions" : {
            "displayName" : "Permissions",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permissions",
            "sensitive" : false
          },
          "Maximum File Count" : {
            "displayName" : "Maximum File Count",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum File Count",
            "sensitive" : false
          },
          "Last Modified Time" : {
            "displayName" : "Last Modified Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Last Modified Time",
            "sensitive" : false
          },
          "Directory" : {
            "displayName" : "Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Directory",
            "sensitive" : false
          },
          "Conflict Resolution Strategy" : {
            "displayName" : "Conflict Resolution Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Conflict Resolution Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 0,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success", "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "43adaa60-abf9-3e07-928e-7628f33d779e",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 824.0,
          "y" : 856.0
        },
        "properties" : {
          "Create Missing Directories" : "true",
          "Directory" : "#{ERROR}/CHANGE_MSISDN/RETRY_1/${now():format('yyyy-MM-dd')}/${now():format('HH')}",
          "Conflict Resolution Strategy" : "fail"
        },
        "propertyDescriptors" : {
          "Group" : {
            "displayName" : "Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Group",
            "sensitive" : false
          },
          "Owner" : {
            "displayName" : "Owner",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Owner",
            "sensitive" : false
          },
          "Create Missing Directories" : {
            "displayName" : "Create Missing Directories",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Create Missing Directories",
            "sensitive" : false
          },
          "Permissions" : {
            "displayName" : "Permissions",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permissions",
            "sensitive" : false
          },
          "Maximum File Count" : {
            "displayName" : "Maximum File Count",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum File Count",
            "sensitive" : false
          },
          "Last Modified Time" : {
            "displayName" : "Last Modified Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Last Modified Time",
            "sensitive" : false
          },
          "Directory" : {
            "displayName" : "Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Directory",
            "sensitive" : false
          },
          "Conflict Resolution Strategy" : {
            "displayName" : "Conflict Resolution Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Conflict Resolution Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 0,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "permission.denied", "not.found" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "a1ed28b6-8f2d-3249-b84e-0789d6d67478",
        "maxBackoffPeriod" : "10 mins",
        "name" : "FetchFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2048.0,
          "y" : 1064.0
        },
        "properties" : {
          "Move Conflict Strategy" : "Rename",
          "Log level when file not found" : "ERROR",
          "Log level when permission denied" : "ERROR",
          "File to Fetch" : "#{DECODE_DEST}/CHANGE_MSISDN/RETRY_SOURCE_1/${filename}",
          "Completion Strategy" : "Delete File"
        },
        "propertyDescriptors" : {
          "Move Conflict Strategy" : {
            "displayName" : "Move Conflict Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Move Conflict Strategy",
            "sensitive" : false
          },
          "Log level when file not found" : {
            "displayName" : "Log level when file not found",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log level when file not found",
            "sensitive" : false
          },
          "Move Destination Directory" : {
            "displayName" : "Move Destination Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Move Destination Directory",
            "sensitive" : false
          },
          "Log level when permission denied" : {
            "displayName" : "Log level when permission denied",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log level when permission denied",
            "sensitive" : false
          },
          "File to Fetch" : {
            "displayName" : "File to Fetch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "File to Fetch",
            "sensitive" : false
          },
          "Completion Strategy" : {
            "displayName" : "Completion Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Completion Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 0,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.FetchFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success", "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "7fa4da9f-b415-3b54-8875-df9371c76d7a",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2680.0,
          "y" : 1056.0
        },
        "properties" : {
          "Create Missing Directories" : "true",
          "Directory" : "#{ERROR}/CHANGE_MSISDN/FETCH_FILE_1/${now():format('yyyy-MM-dd')}/${now():format('HH')}",
          "Conflict Resolution Strategy" : "fail"
        },
        "propertyDescriptors" : {
          "Group" : {
            "displayName" : "Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Group",
            "sensitive" : false
          },
          "Owner" : {
            "displayName" : "Owner",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Owner",
            "sensitive" : false
          },
          "Create Missing Directories" : {
            "displayName" : "Create Missing Directories",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Create Missing Directories",
            "sensitive" : false
          },
          "Permissions" : {
            "displayName" : "Permissions",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permissions",
            "sensitive" : false
          },
          "Maximum File Count" : {
            "displayName" : "Maximum File Count",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum File Count",
            "sensitive" : false
          },
          "Last Modified Time" : {
            "displayName" : "Last Modified Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Last Modified Time",
            "sensitive" : false
          },
          "Directory" : {
            "displayName" : "Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Directory",
            "sensitive" : false
          },
          "Conflict Resolution Strategy" : {
            "displayName" : "Conflict Resolution Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Conflict Resolution Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 0,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "59148eff-eba7-3b8f-a8bd-b7c60cc35eb9",
        "maxBackoffPeriod" : "10 mins",
        "name" : "LogMessage",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 224.0,
          "y" : 1280.0
        },
        "properties" : {
          "log-level" : "info"
        },
        "propertyDescriptors" : {
          "log-message" : {
            "displayName" : "Log message",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "log-message",
            "sensitive" : false
          },
          "log-level" : {
            "displayName" : "Log Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "log-level",
            "sensitive" : false
          },
          "log-prefix" : {
            "displayName" : "Log prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "log-prefix",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ "success" ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.LogMessage",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "714ac61f-7380-305d-b12e-2e419bee3812",
        "maxBackoffPeriod" : "10 mins",
        "name" : "RouteOnAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1416.0,
          "y" : 1048.0
        },
        "properties" : {
          "COUNT_0" : "${executesql.row.count:equals('0')}",
          "Routing Strategy" : "Route to Property name",
          "COUNT" : "${executesql.row.count:gt('0')}"
        },
        "propertyDescriptors" : {
          "COUNT_0" : {
            "displayName" : "COUNT_0",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "COUNT_0",
            "sensitive" : false
          },
          "Routing Strategy" : {
            "displayName" : "Routing Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Routing Strategy",
            "sensitive" : false
          },
          "COUNT" : {
            "displayName" : "COUNT",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "COUNT",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 0,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "cd36c8c7-04a1-3bc3-ad06-b2c23dcbbebb",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ExecuteSQL",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 2040.0,
          "y" : 864.0
        },
        "properties" : {
          "esql-max-rows" : "0",
          "dbf-default-precision" : "10",
          "Max Wait Time" : "0 seconds",
          "SQL Query" : "SELECT MSISDN FROM PROFILE_CDR_${OLD_MSISDN:substring(${OLD_MSISDN:length():minus(1)})} WHERE MSISDN='${OLD_MSISDN}'",
          "Database Connection Pooling Service" : "b04a188f-dfb8-390f-8573-d178a37c5ddf",
          "esql-auto-commit" : "true",
          "dbf-user-logical-types" : "false",
          "dbf-default-scale" : "0",
          "compression-format" : "NONE",
          "esql-output-batch-size" : "0",
          "esql-fetch-size" : "0",
          "dbf-normalize" : "false",
          "Content Output Strategy" : "EMPTY"
        },
        "propertyDescriptors" : {
          "esql-max-rows" : {
            "displayName" : "Max Rows Per Flow File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-max-rows",
            "sensitive" : false
          },
          "dbf-default-precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-precision",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "SQL Query" : {
            "displayName" : "SQL Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Query",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "sql-post-query" : {
            "displayName" : "SQL Post-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sql-post-query",
            "sensitive" : false
          },
          "esql-auto-commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-auto-commit",
            "sensitive" : false
          },
          "dbf-user-logical-types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-user-logical-types",
            "sensitive" : false
          },
          "dbf-default-scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-default-scale",
            "sensitive" : false
          },
          "sql-pre-query" : {
            "displayName" : "SQL Pre-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "sql-pre-query",
            "sensitive" : false
          },
          "compression-format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "compression-format",
            "sensitive" : false
          },
          "esql-output-batch-size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-output-batch-size",
            "sensitive" : false
          },
          "esql-fetch-size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "esql-fetch-size",
            "sensitive" : false
          },
          "dbf-normalize" : {
            "displayName" : "Normalize Table/Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "dbf-normalize",
            "sensitive" : false
          },
          "Content Output Strategy" : {
            "displayName" : "Content Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Output Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 0,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "9c6fe116-95fe-3c99-9d14-5006a252160d",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 1416.0,
          "y" : 864.0
        },
        "properties" : {
          "Create Missing Directories" : "true",
          "Directory" : "#{DECODE_DEST}/CHANGE_MSISDN/RETRY_SOURCE_1",
          "Conflict Resolution Strategy" : "fail"
        },
        "propertyDescriptors" : {
          "Group" : {
            "displayName" : "Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Group",
            "sensitive" : false
          },
          "Owner" : {
            "displayName" : "Owner",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Owner",
            "sensitive" : false
          },
          "Create Missing Directories" : {
            "displayName" : "Create Missing Directories",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Create Missing Directories",
            "sensitive" : false
          },
          "Permissions" : {
            "displayName" : "Permissions",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permissions",
            "sensitive" : false
          },
          "Maximum File Count" : {
            "displayName" : "Maximum File Count",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum File Count",
            "sensitive" : false
          },
          "Last Modified Time" : {
            "displayName" : "Last Modified Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Last Modified Time",
            "sensitive" : false
          },
          "Directory" : {
            "displayName" : "Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Directory",
            "sensitive" : false
          },
          "Conflict Resolution Strategy" : {
            "displayName" : "Conflict Resolution Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Conflict Resolution Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 0,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "success" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 2,
        "executionNode" : "ALL",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "b3eddca2-4940-3ea2-9fe0-6ab09a0f66ce",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 224.0,
          "y" : 1080.0
        },
        "properties" : {
          "Create Missing Directories" : "true",
          "Directory" : "#{DECODE_DEST}/CHANGE_MSISDN/RETRY_SOURCE_2",
          "Conflict Resolution Strategy" : "fail"
        },
        "propertyDescriptors" : {
          "Group" : {
            "displayName" : "Group",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Group",
            "sensitive" : false
          },
          "Owner" : {
            "displayName" : "Owner",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Owner",
            "sensitive" : false
          },
          "Create Missing Directories" : {
            "displayName" : "Create Missing Directories",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Create Missing Directories",
            "sensitive" : false
          },
          "Permissions" : {
            "displayName" : "Permissions",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Permissions",
            "sensitive" : false
          },
          "Maximum File Count" : {
            "displayName" : "Maximum File Count",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum File Count",
            "sensitive" : false
          },
          "Last Modified Time" : {
            "displayName" : "Last Modified Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Last Modified Time",
            "sensitive" : false
          },
          "Directory" : {
            "displayName" : "Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Directory",
            "sensitive" : false
          },
          "Conflict Resolution Strategy" : {
            "displayName" : "Conflict Resolution Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Conflict Resolution Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 0,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "270aa675-caeb-3783-bbf3-ed0db801c615",
        "identifier" : "e458f606-80a7-3134-b9d7-655c5f036782",
        "maxBackoffPeriod" : "10 mins",
        "name" : "FetchFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 832.0,
          "y" : 1064.0
        },
        "properties" : {
          "Move Conflict Strategy" : "Rename",
          "Log level when file not found" : "ERROR",
          "Log level when permission denied" : "ERROR",
          "File to Fetch" : "#{DECODE_DEST}/CHANGE_MSISDN/RETRY_SOURCE_1/${filename}",
          "Completion Strategy" : "Delete File"
        },
        "propertyDescriptors" : {
          "Move Conflict Strategy" : {
            "displayName" : "Move Conflict Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Move Conflict Strategy",
            "sensitive" : false
          },
          "Log level when file not found" : {
            "displayName" : "Log level when file not found",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log level when file not found",
            "sensitive" : false
          },
          "Move Destination Directory" : {
            "displayName" : "Move Destination Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Move Destination Directory",
            "sensitive" : false
          },
          "Log level when permission denied" : {
            "displayName" : "Log level when permission denied",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log level when permission denied",
            "sensitive" : false
          },
          "File to Fetch" : {
            "displayName" : "File to Fetch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "File to Fetch",
            "sensitive" : false
          },
          "Completion Strategy" : {
            "displayName" : "Completion Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Completion Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 0,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.FetchFile",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "05f5a11d-4cbe-3699-b087-2bf4d9cbdd59",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExecuteSQL",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 656.0,
        "y" : 312.0
      },
      "properties" : {
        "esql-max-rows" : "0",
        "dbf-default-precision" : "10",
        "Max Wait Time" : "0 seconds",
        "SQL Query" : "select 'abc'",
        "Database Connection Pooling Service" : "b04a188f-dfb8-390f-8573-d178a37c5ddf",
        "sql-post-query" : "INSERT INTO PROFILE_CDR_${NEW_MSISDN:substring(${NEW_MSISDN:length():minus(1)})} SELECT * FROM PROFILE_CDR_${OLD_MSISDN:substring(${OLD_MSISDN:length():minus(1)})} WHERE MSISDN='${NEW_MSISDN}';\n\nDELETE FROM PROFILE_CDR_${OLD_MSISDN:substring(${OLD_MSISDN:length():minus(1)})} WHERE MSISDN='${NEW_MSISDN}';",
        "esql-auto-commit" : "true",
        "dbf-user-logical-types" : "false",
        "dbf-default-scale" : "0",
        "sql-pre-query" : "UPDATE PROFILE_CDR_${OLD_MSISDN:substring(${OLD_MSISDN:length():minus(1)})} SET MSISDN=(CASE '${NEW_MSISDN}' WHEN '' THEN NULL ELSE '${NEW_MSISDN}' END) WHERE MSISDN='${OLD_MSISDN}';",
        "compression-format" : "NONE",
        "esql-output-batch-size" : "0",
        "esql-fetch-size" : "0",
        "dbf-normalize" : "false",
        "Content Output Strategy" : "EMPTY"
      },
      "propertyDescriptors" : {
        "esql-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-max-rows",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "SQL Query" : {
          "displayName" : "SQL Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Query",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "sql-post-query" : {
          "displayName" : "SQL Post-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sql-post-query",
          "sensitive" : false
        },
        "esql-auto-commit" : {
          "displayName" : "Set Auto Commit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-auto-commit",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "sql-pre-query" : {
          "displayName" : "SQL Pre-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sql-pre-query",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "esql-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-output-batch-size",
          "sensitive" : false
        },
        "esql-fetch-size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "esql-fetch-size",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "Content Output Strategy" : {
          "displayName" : "Content Output Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Output Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6451a8f9-7781-3555-a941-2670affdd627",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -616.0,
        "y" : 96.0
      },
      "properties" : {
        "Create Missing Directories" : "true",
        "Directory" : "#{ERROR}/CHANGE_MSISDN/EVA_JSON_PATH/${now():format('yyyy-MM-dd')}/${now():format('HH')}",
        "Conflict Resolution Strategy" : "fail"
      },
      "propertyDescriptors" : {
        "Group" : {
          "displayName" : "Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group",
          "sensitive" : false
        },
        "Owner" : {
          "displayName" : "Owner",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Owner",
          "sensitive" : false
        },
        "Create Missing Directories" : {
          "displayName" : "Create Missing Directories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Missing Directories",
          "sensitive" : false
        },
        "Permissions" : {
          "displayName" : "Permissions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permissions",
          "sensitive" : false
        },
        "Maximum File Count" : {
          "displayName" : "Maximum File Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Count",
          "sensitive" : false
        },
        "Last Modified Time" : {
          "displayName" : "Last Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Last Modified Time",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        },
        "Conflict Resolution Strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 0,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f30bcc77-2a76-301b-b432-b425a2e4aa63",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GetFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1256.0,
        "y" : 16.0
      },
      "properties" : {
        "Keep Source File" : "false",
        "Minimum File Age" : "5 sec",
        "Polling Interval" : "0 sec",
        "Input Directory" : "#{DECODE_DEST}/CHANGE_MSISDN/RETRY_SOURCE_2",
        "Batch Size" : "100",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "Recurse Subdirectories" : "true",
        "File Filter" : "[^\\.].*"
      },
      "propertyDescriptors" : {
        "Keep Source File" : {
          "displayName" : "Keep Source File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Source File",
          "sensitive" : false
        },
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "Polling Interval" : {
          "displayName" : "Polling Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Polling Interval",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "60 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GetFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "87ae3c59-58a1-30e9-ab07-242ab38a5525",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -688.0,
        "y" : -176.0
      },
      "properties" : {
        "Create Missing Directories" : "true",
        "Directory" : "#{SRC_BACKUP}/CHANGE_MSISDN/${now():format(\"yyyy-MM-dd\")}",
        "Conflict Resolution Strategy" : "fail"
      },
      "propertyDescriptors" : {
        "Group" : {
          "displayName" : "Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group",
          "sensitive" : false
        },
        "Owner" : {
          "displayName" : "Owner",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Owner",
          "sensitive" : false
        },
        "Create Missing Directories" : {
          "displayName" : "Create Missing Directories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Missing Directories",
          "sensitive" : false
        },
        "Permissions" : {
          "displayName" : "Permissions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permissions",
          "sensitive" : false
        },
        "Maximum File Count" : {
          "displayName" : "Maximum File Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Count",
          "sensitive" : false
        },
        "Last Modified Time" : {
          "displayName" : "Last Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Last Modified Time",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        },
        "Conflict Resolution Strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4074a265-0a0e-32f1-8a7b-fc1cd961909d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogMessage",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 240.0,
        "y" : 584.0
      },
      "properties" : {
        "log-level" : "info"
      },
      "propertyDescriptors" : {
        "log-message" : {
          "displayName" : "Log message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "log-message",
          "sensitive" : false
        },
        "log-level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "log-level",
          "sensitive" : false
        },
        "log-prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "log-prefix",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 0,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogMessage",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4314efe2-5807-379f-87a4-beaefc082eec",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 40.0,
        "y" : 96.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "OLD_MSISDN" : "$.parameters[?(@.name=='OLD_MSISDN')].value",
        "Max String Length" : "20 MB",
        "Return Type" : "json",
        "NEW_MSISDN" : "$.parameters[?(@.name=='NEW_MSISDN')].value",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "OLD_MSISDN" : {
          "displayName" : "OLD_MSISDN",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "OLD_MSISDN",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "NEW_MSISDN" : {
          "displayName" : "NEW_MSISDN",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "NEW_MSISDN",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3c81e6ee-8a17-3bee-a946-4cb02cade2b4",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 376.0,
        "y" : -176.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "generate-ff-custom-text" : "{\n\t\"parameters\": [\n\t\t{\n\t\t\t\"name\": \"TRANSACTION_ID\",\n\t\t\t\"value\": \"12w2w567wd891001\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"NEW_MSISDN\",\n\t\t\t\"value\": \"98703060615\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"OLD_MSISDN\",\n\t\t\t\"value\": \"98703060616\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"LANGUAGE_ID\",\n\t\t\t\"value\": \"1\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"CHANNEL\",\n\t\t\t\"value\": \"CRM\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"X-Trace-Id\",\n\t\t\t\"value\": \"12w2w567wd891001\"\n\t\t}\n\t]\n}",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "DISABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e1a9e058-d623-3db5-9a18-26e614a99acd",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 656.0,
        "y" : 112.0
      },
      "properties" : {
        "OLD_MSISDN" : "${OLD_MSISDN:replaceAll('[\\\\[\\\\]\\\"]', '')}",
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100",
        "NEW_MSISDN" : "${NEW_MSISDN:replaceAll('[\\\\[\\\\]\\\"]', '')}"
      },
      "propertyDescriptors" : {
        "OLD_MSISDN" : {
          "displayName" : "OLD_MSISDN",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "OLD_MSISDN",
          "sensitive" : false
        },
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "NEW_MSISDN" : {
          "displayName" : "NEW_MSISDN",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "NEW_MSISDN",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "350dba6d-8ffc-3019-96e1-7b87ad0076a9",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConsumeKafka",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -56.0,
        "y" : -160.0
      },
      "properties" : {
        "Topics" : "changeMsisdn",
        "Commit Offsets" : "true",
        "Key Format" : "byte-array",
        "Key Attribute Encoding" : "utf-8",
        "Topic Format" : "names",
        "Header Encoding" : "UTF-8",
        "Max Uncommitted Time" : "100 millis",
        "Kafka Connection Service" : "7b4c9a98-9444-3ca7-a4a7-7da9e3ac8828",
        "Separate By Key" : "false",
        "Processing Strategy" : "FLOW_FILE",
        "Group ID" : "changeMsisdn_new1111",
        "auto.offset.reset" : "earliest",
        "Output Strategy" : "USE_VALUE"
      },
      "propertyDescriptors" : {
        "Topics" : {
          "displayName" : "Topics",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Topics",
          "sensitive" : false
        },
        "Commit Offsets" : {
          "displayName" : "Commit Offsets",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Commit Offsets",
          "sensitive" : false
        },
        "Header Name Pattern" : {
          "displayName" : "Header Name Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Name Pattern",
          "sensitive" : false
        },
        "Key Format" : {
          "displayName" : "Key Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Format",
          "sensitive" : false
        },
        "Key Record Reader" : {
          "displayName" : "Key Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Key Record Reader",
          "sensitive" : false
        },
        "Message Demarcator" : {
          "displayName" : "Message Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Demarcator",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Key Attribute Encoding" : {
          "displayName" : "Key Attribute Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Attribute Encoding",
          "sensitive" : false
        },
        "Topic Format" : {
          "displayName" : "Topic Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Topic Format",
          "sensitive" : false
        },
        "Header Encoding" : {
          "displayName" : "Header Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Encoding",
          "sensitive" : false
        },
        "Max Uncommitted Time" : {
          "displayName" : "Max Uncommitted Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Uncommitted Time",
          "sensitive" : false
        },
        "Kafka Connection Service" : {
          "displayName" : "Kafka Connection Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Kafka Connection Service",
          "sensitive" : false
        },
        "Separate By Key" : {
          "displayName" : "Separate By Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Separate By Key",
          "sensitive" : false
        },
        "Processing Strategy" : {
          "displayName" : "Processing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Processing Strategy",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Group ID" : {
          "displayName" : "Group ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group ID",
          "sensitive" : false
        },
        "auto.offset.reset" : {
          "displayName" : "Auto Offset Reset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "auto.offset.reset",
          "sensitive" : false
        },
        "Output Strategy" : {
          "displayName" : "Output Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.kafka.processors.ConsumeKafka",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "25cbf2bd-a992-3bf9-8f66-3949c9678357",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GetFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 920.0,
        "y" : -88.0
      },
      "properties" : {
        "Keep Source File" : "false",
        "Minimum File Age" : "5 sec",
        "Polling Interval" : "0 sec",
        "Input Directory" : "#{DECODE_DEST}/CHANGE_MSISDN/RETRY_SOURCE_2",
        "Batch Size" : "100",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "Recurse Subdirectories" : "true",
        "File Filter" : "[^\\.].*"
      },
      "propertyDescriptors" : {
        "Keep Source File" : {
          "displayName" : "Keep Source File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Source File",
          "sensitive" : false
        },
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "Polling Interval" : {
          "displayName" : "Polling Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Polling Interval",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "60 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GetFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3f270378-96dd-3259-b051-6910d2b9555b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1240.0,
        "y" : 320.0
      },
      "properties" : {
        "Create Missing Directories" : "true",
        "Directory" : "#{ERROR}/CHANGE_MSISDN/EXECUTE_SQL_2/${now():format('yyyy-MM-dd')}/${now():format('HH')}",
        "Conflict Resolution Strategy" : "fail"
      },
      "propertyDescriptors" : {
        "Group" : {
          "displayName" : "Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group",
          "sensitive" : false
        },
        "Owner" : {
          "displayName" : "Owner",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Owner",
          "sensitive" : false
        },
        "Create Missing Directories" : {
          "displayName" : "Create Missing Directories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Missing Directories",
          "sensitive" : false
        },
        "Permissions" : {
          "displayName" : "Permissions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permissions",
          "sensitive" : false
        },
        "Maximum File Count" : {
          "displayName" : "Maximum File Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Count",
          "sensitive" : false
        },
        "Last Modified Time" : {
          "displayName" : "Last Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Last Modified Time",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        },
        "Conflict Resolution Strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 0,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutFile",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "VARIABLES" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "VARIABLES",
      "parameters" : [ {
        "description" : "",
        "name" : "SRC_BACKUP",
        "provided" : false,
        "sensitive" : false,
        "value" : "/opt/nifi/external_jars/NIFI_FILES/SRC_BACKUP"
      }, {
        "description" : "",
        "name" : "DECODE_DEST",
        "provided" : false,
        "sensitive" : false,
        "value" : "/opt/nifi/external_jars/NIFI_FILES/DECODE_DEST"
      }, {
        "description" : "",
        "name" : "LOAD_INPUT",
        "provided" : false,
        "sensitive" : false,
        "value" : "/opt/nifi/external_jars/NIFI_FILES/LOAD_INPUT"
      }, {
        "description" : "",
        "name" : "ERROR",
        "provided" : false,
        "sensitive" : false,
        "value" : "/opt/nifi/external_jars/NIFI_FILES/ERROR"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "nifiuser",
    "flowIdentifier" : "CHANGEMSISDN",
    "timestamp" : 0
  }
}